#headerSpacing {
  
}

#mainDiv {
  width: 100%;
  height: auto;
}

.contentWindow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  
}

#titleSection {
  text-align: center;
}